.terminal {
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: monospace;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
}

.output {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 8px;
}

.inputForm {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  background: transparent;
  border: none;
  color: #f5f5f5;
  outline: none;
}
